body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bcd3f7;
}

.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom:2px  solid black;
}
.conatiner{
    /* border: x solid black; */
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    background-color: #95a7c4;
    margin-top: 50px;
    padding: 40px 40px ;
    margin-bottom:20px ;
    border-radius: 10px;
    width: 700px;
    /* margin-left:50% ; */
}
.person{
    /* margin-top: 50px; */
    margin-top: 10px ;
    /* border: 1px solid black; */
    display: flex;
    padding: 10px 5%;
    border-radius: 10px;
}
.person:hover{
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    transition: border 0.5s, box-shadow 0.5s;
}
.details p{
    margin-top: 2px;
    margin-bottom: 0px;

}
.heading{
    margin-top: 0px;
}

.count{
    margin: 5px 5px 20px 5px;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.btn-clear{
    padding: 10px;
    width: 150px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #777f8c;
}
.btn-clear:hover{
    background-color: #bcd3f7;
}
.btn-remove-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 290px;
}
.btn-remove{
    font-size: 13px;
    border-radius: 5px;
    background-color: #777f8c;   
    padding: 3px 10px;
    cursor: pointer;
}
.btn-remove:hover{
    background-color: #bcd3f7;
}

@media (max-width:320px) {
    .btn-remove-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 150px;
    }
    
}
@media (max-width:575px){
    .btn-remove-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 200px;
    }   
}