.MiniNavbar{
    display: flex;
    justify-content:space-around;
    height: 40px;
    background-color: aqua;
    width: 100%;
    position: sticky;
    top: 0px;
}
.btn-category{
    color: black;
    border: none;
    background-color: transparent;
}
.btn-category-darkMode{
    color: black;
    border: none;
    background-color: transparent;
}
.btn-category:hover{
    border-bottom: 5px solid black;
    opacity: 1;   
}
.btn-category-darkMode:hover{
    border-bottom: 5px solid aqua;
    opacity: 1;  
}
/* .active{
    border-bottom: 5px solid black;
} */
.MonoNavvar-darkmode{
    display: flex;
    justify-content:space-around;
    height: 40px;
    background-color: #4C585B;
    width: 100%;
    position: sticky;
    top: 0px;
    color: white;
}
.MonoNavvar-darkmode button{
    color: white;
}