.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    top: 130px;
}
.NewsArea{
    display: flex;
    flex-wrap: wrap;     
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;

}
h1{
    margin: 5px 5px 0px 5px;
}
.btn-FBArrows{
    width: 98%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 60%;
}
.btn-FBArrow{
    font-size: 20px;
    box-shadow: none;
    color: black;
    transition: font-size 0.3s ,box-shadow 0.3s;
    background-color: aqua;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.btn-FBArrow:hover{
    font-size: 30px;
    box-shadow: 0px 10px 20px black;

}
.btn-FBArrow-disable{
    font-size: 20px;
    box-shadow: none;
    color: black;
    transition: font-size 0.3s ,box-shadow 0.3s;
    background-color: aqua;
    padding: 1rem;
    border-radius: 50%;
}
.btn-FBArrow-disable:hover{
    background-color: #4C585B;
}
.Spinner{
    margin-top: 100%;
}
.container-darkmode{
    background-color:gray;
    padding: 10px;
    color: white;
}
.container h1{
    padding: 10px;
}